<html>
<head>
    <title>TradeBot</title>
    <style>
        #logo { font-size: 32px; margin: 30px 0 30px 0; }
        #logo-icon { font-size: 40px; }
        #product-name { font-size: 40px; margin-top: 10px; }
        #product-name a { color: black; }
        #tagline { font-size: 16px; margin-top: 20px; }
        body { font-family: 'Roboto', sans-serif; }
        #content { margin-top: 30px; }
        li { font-size: 16px; line-height: 24px; }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
    <div class="ui container vertical center aligned">
        <div id="logo">
            <!--<i id="logo-icon" class="chart bar icon"></i>-->

            <div id="product-name">
                <a href="/">TradeBot</a>
            </div>
            
            <div id="tagline">Automated Stock Trading Bot</div>
        </div>
    </div>

    <div id="content" class="ui container segment">
        {% block content %}{% endblock %}
    </div>

    <div id="footer" class="ui container segment">
            
        
    </div>


    </div>

    </div></div></div>
</body>
</html>